.img-circle {
    border-radius: 50%;
}

h1 {font-family: 'Shadows Into Light', cursive;
font-weight: bold;}

h2 {font-family: 'Shadows Into Light', cursive;
font-weight: normal;}

body {text-align: center;
color: black;}
